.htaccess
css.php
rpc/
sites/site*/admin/
sites/site*/private/
sites/site*/public/admin/
sites/site*/public/setup/
sites/site*/public/theme/
textpattern/
HISTORY.txt
README.txt
.vs/
packages/
BSI_Practice/bin/
BSI_Logics/bin
# Ignore compiled files
bin/
obj/
*.exe
*.dll

