body {
}


.background-login {
    /*background-size: contain !important;*/
    /*style =" display:flex" */
    justify-content:center !important;
    height: 485px;
    width: 400px !important;
    left: 5px;
    /*background: url('../Images/download.png');*/
}
